* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
    -moz-user-select: none;
    min-width: 320px;
    max-width: 540px;
    margin: 0 auto;
    background: #d9d9df;
    font: 400 16px/1.5 PingFangSC-regular, Tahoma, "Lucida Grande", Verdana, "Microsoft Yahei", STXihei, hei;
    height: 3000px;
}

div {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #222;
}

img {
    vertical-align: bottom;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    margin: 0;
    padding: 0;
    list-style: none
}

/* 固定定位是以屏幕为继承的宽度 所以固定定位要给一个宽度 */
.search-index {
    display: flex;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    min-width: 320px;
    max-width: 540px;
    height: 44px;
}

/* search */

.search {
    position: relative;
    flex: 1;
    margin: 8px 0;
    margin-left: 12px;
    padding-left: 35px;
    border-radius: 16px;
    height: 28px;
    font-size: 14px;
    color: #666;
    line-height: 28px;
    background-color: #fff;
}

.search::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    display: block;
    width: 35px;
    height: 28px;
    background: url('../images/home-common-sprite2x@v7.15.png') 11px 7px no-repeat;
    background-size: 22px;

}

.user {
    width: 51px;
    height: 44px;
    font-size: 12px;
    text-align: center;
}

.user::before {
    content: '';
    display: block;
    margin: 0 auto 3px;
    width: 22px;
    height: 22px;
    background: url('../images/home-common-sprite2x@v7.15.png') 0 -37px no-repeat;
    background-size: 22px;
}

/* focus */
.focus {
    padding-top: 44px;
}

.focus img {
    width: 100%;
}

/* local-nav */
.local-nav {
    display: flex;
    padding-top: 5px;
    height: 64px;
    background: #fff;
    border-radius: 8px;
}

.local-nav li {
    flex: 1
}

.local-nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.local-nav li a [class^='local-nav-icon'] {
    width: 40px;
    height: 40px;
    background: url('../upload/home-fivemain-sprite2x@v7.15.png') no-repeat 0 0;
    background-size: 40px auto;
}

.local-nav li a .local-nav-icon-icon2 {
    background: url('../upload/home-fivemain-sprite2x@v7.15.png') no-repeat 0 -39px;
    ;
}

.local-nav li a .local-nav-icon-icon3 {
    background: url('../upload/home-fivemain-sprite2x@v7.15.png') no-repeat 0 -80px;
}

.local-nav li a .local-nav-icon-icon4 {
    background: url('../upload/home-fivemain-sprite2x@v7.15.png') no-repeat 0 -120px;
}

.local-nav li a .local-nav-icon-icon5 {
    background: url('../upload/home-fivemain-sprite2x@v7.15.png') no-repeat 0 -160;
}


.local-nav a .text {
    font-size: 12px;
    color: #000
}

/* nav */
nav {
    margin: 5px 4px 3px;
    border-radius: 8px;
    overflow: hidden;
}

.nav-common {
    display: flex;
    height: 66.19px;
    /* background: pink; */
}

.nav-common .nav-itmes:nth-child(1) a {
    border: 0;
}

.nav-common .nav-itmes:nth-child(1) {
    background: url('../images/hotel.png') no-repeat bottom center;
    background-size: 121px auto;
}

.nav-common:nth-child(2) {
    margin: 3px 0;
}

.nav-itmes {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.nav-itmes a:nth-child(1) {
    border-bottom: 1px solid #fff
}

.nav-itmes:nth-child(-n+2) {
    border-right: 1px solid #fff
}

.nav-itmes a {
    flex: 1;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 33px;
    text-shadow: 1px 1px rgb(185, 172, 172)
}

.nav-common:nth-child(1) {
    background: -webkit-linear-gradient(left, #fb5b55, #fa964d)
}

.nav-common:nth-child(2) {
    background: -webkit-linear-gradient(left, #4c92ee, #52baed)
}

.nav-common:nth-child(3) {
    background: -webkit-linear-gradient(left, #36c2a7, #6cd55a)
}

/* subnav-enter */
.subnav-enter {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    background: #fff;
}

.subnav-enter li {
    flex: 20%;
}

.subnav-enter li a {
    display: flex;
    padding: 10px 0 5px;
    flex-direction: column;
    align-items: center;
}

.subnav-enter .subnav-enter-icon {
    display: block;
    width: 28px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    background: url('../images/subnav-bg.png') no-repeat 0 0;
    background-size: 30px auto;
}

.subnav-enter li a {
    font-size: 14px;
}

/* sale-box */
.sale-box {
    margin-top: 2px;
}

.sale-hd {
    position: relative;
    height: 63px;
    background: #fff
}

.sale-box .sale-hd h2 {
    text-indent: -9999px;
    overflow: hidden;
}

.sale-box .sale-hd h2::after {
    content: '';
    position: absolute;
    top: 24px;
    left: 12px;
    width: 73px;
    height: 16px;
    background: url('../images/hot.png') no-repeat 0 -20px;
    background-size: 79px auto;
}

.more {
    position: absolute;
    top: 15px;
    right: 0;
    border-radius: 14px;
    margin-right: 10px;
    width: 114px;
    height: 27px;
    background: -webkit-repeating-linear-gradient(left, #FF506C, #FF6BC6);
    text-align: center;
    line-height: 27px;
    font-size: 14px;
    color: #fff
}

.more::after {
    display: block;
    content: '';
    position: absolute;
    top: 8px;
    right: 8px;
    border-top: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);
    transform: rotate(45deg);
    width: 8px;
    height: 8px;
}

/* sale-bd */

.sale-bd .row {
    display: flex;
}

.sale-bd .row a {
    flex: 1;
    border-right: 1px solid #ccc
}

.sale-bd .row a:nth-child(1) {
    border-bottom: 1px solid #ccc
}

.sale-bd .row img {
    width: 100%;
}