div,
a {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

img {
    vertical-align: bottom;
}

body {
    max-width: 540px;
    min-width: 320px;
    margin: 0 auto;
    font: normal 14px/1.5 Tahoma,
        "Lucida Grande",
        Verdana,
        "Microsoft Yahei",
        STXihei,
        hei;
    color: #000;
    background: #f2f2f2;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}

/* 顶部搜索 */
.search-index {
    position: fixed;
    width: 100%;
    max-width: 520px;
    min-width: 320px;
    display: flex;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    height: 44px;
    overflow: hidden;
}

.search {
    position: relative;
    flex: 1;
    margin: 9px 12px;
    padding-left: 24px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 3px #ccc;
    border-radius: 4px;
    height: 26px;
    font-size: 12px;
    color: #666;
    line-height: 26px;
}

.search::before {
    content: '';
    position: absolute;
    top: 6px;
    left: 4px;
    display: block;
    width: 15px;
    height: 15px;
    background: url('../images/sprite.png') -59px -279px;
    background-size: 104px auto;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 44px;
    height: 44px;
    font-size: 12px;
    color: #2eaae0;
}

.user::before {
    content: '';
    display: block;
    margin: 4px 0 -2px;
    width: 23px;
    height: 23px;
    background: url('../images/sprite.png') -59px -195px;
    background-size: 104px auto;
}

/* 焦点图片 */
.focus {
    padding-top: 44px;
    height: 157px;
    background: pink;
}

.focus img {
    width: 100%;
}