* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #222
}

body {
    max-width: 540px;
    min-width: 320px;
    margin: 0 auto;
    font: normal 14px/1.5 Tahoma,
        "Lucida Grande",
        Verdana,
        "Microsoft Yahei",
        STXihei,
        hei;
    color: #000;
    background: #f2f2f2;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}

.search-index {
    display: flex;
    position: fixed;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    width: 100%;
    height: 44px;
    max-width: 540px;
    min-width: 320px;
}

.search {
    flex: 1;
    position: relative;
    margin: 9px 10px;
    padding-left: 26px;
    border-radius: 5px;
    height: 26px;
    background: rgb(255, 255, 255);
    line-height: 26px;
    font-size: 12px;
    color: #666;
}

.search::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 15px;
    height: 15px;
    background: url('../images/sprite.png') no-repeat -58px -278px;
    background-size: 104px auto;
}

.user {
    position: relative;
    padding-top: 23px;
    width: 44px;
    height: 44px;
    text-align: center;
    font-size: 12px;
    color: #2eaae0;
}

.user::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    margin: 2px 10px;
    width: 23px;
    height: 23px;
    background: url('../images/sprite.png') no-repeat -58px -194px;
    background-size: 104px auto;
}

/* 焦点图 */
.focus {
    padding-top: 44px;
}

.focus img {
    width: 100%;
}

/* 导航 */
nav {
    border-radius: 4px;
    height: 64px;
    background: #fff;
    margin: 0 4px;
}

nav ul {
    display: flex;
    padding-top: 5px;
}

nav ul li {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav ul li a {
    font-size: 12px;
}

nav li a[class^='nav-icon'] {
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    background: url('../images/localnav_bg.png') no-repeat;
    background-size: 32px auto;
}

nav li a.nav-icon-2 {
    background: url('../images/localnav_bg.png') no-repeat 0 -32px;
    background-size: 32px auto;
}

nav li a.nav-icon-3 {
    background: url('../images/localnav_bg.png') no-repeat 0 -64px;
    background-size: 32px auto;
}

nav li a.nav-icon-4 {
    background: url('../images/localnav_bg.png') no-repeat 0 -96px;
    background-size: 32px auto;
}

nav li a.nav-icon-5 {
    background: url('../images/localnav_bg.png') no-repeat 0 -128px;
    background-size: 32px auto;
}

/* hotel */
.hotel {
    margin: 0 4px;
}

.row {
    display: flex;
    margin-bottom: 3px;
    height: 88px;
    background: -webkit-linear-gradient(left, #fb5b55, #fa984d)
}

.row:nth-child(2) {
    background: -webkit-linear-gradient(left, #4b90ee, #53bbed)
}

.row:nth-child(3) {
    background: -webkit-linear-gradient(left, #36c2a8, #53bbee)
}

.column {
    flex: 1;
}

.column {
    display: flex;
    flex-direction: column;
}

.column a {
    flex: 1;
    text-align: center;
    line-height: 44px;
    color: #fff;
    text-shadow: 1px 1px rgba(0, 0, 0, .3);

}

.row .column:nth-child(2) {
    border: 1px solid #fff;
    border-bottom: none;
    border-top: none;
}

.row .column:nth-child(n+2) a:first-child {
    border-bottom: 1px solid #fff
}

.row .column:first-child {
    background: url('../images/hotel.png') no-repeat center bottom;
    background-size: 131px auto;
}

/* subnav */

.subnav {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    height: 116px;
    background: #fff;
}

.subnav-icon {
    display: block;
    width: 28px;
    height: 28px;
    background: url('../images/subnav-bg.png') no-repeat 0 8px;
    background-size: 23px auto;
}

.subnav li {
    flex: 20%
}

.subnav li a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* sales box */
.sale-box {
    background: #fff;
    border-bottom: 1px solid transparent;
}

.sale-hd {
    position: relative;
    margin-top: 10px;
    height: 44px;
    background: #fff;
}


.sale-hd h2 {
    position: absolute;
    width: 79px;
    height: 15px;
    background: url('../images/hot.png') 1px -20px no-repeat;
    background-size: 79px auto;
}

.sale-hd .more {
    position: absolute;
    top: 0;
    right: 5px;
    border-radius: 13px;
    padding: 3px 15px 3px 5px;
    background: -webkit-linear-gradient(left, #fe506d, #fe5885);
    color: #fff
}

.sale-hd .more::after {
    content: '';
    position: absolute;
    top: 10px;
    right: 5px;
    display: block;
    width: 8px;
    height: 8px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: rotate(45deg);
}

.sale-bd li {
    display: flex
}

.sale-bd li:nth-child(n-2) a {
    border-bottom: 1px solid #ccc;
}

.sale-bd li a:first-child {
    border-right: 1px solid #ccc;
}

.sale-bd img {
    width: 100%;
}